.complete{
    text-decoration: line-through;
    text-decoration-color: red;
    text-decoration-style: double;
}

input[type='text']{
    padding:15px;
    width: 60%;
}

button{
    padding: 15px;
    background-color: goldenrod;
    font-size: 14px;
}
h1{
    color: maroon;
}
h3{
    color:#666666;
}