body{
    background-color: whitesmoke;
}


.todo-item{
    display: flex;
    background-color:#fffccc;
}
.todo-item p{
    font-size: 18px;
    color:#333333
}
.delete-btn{
    color:red;
    padding: 1px;
    background:transparent;
    margin-left: 10px;
}